/*
Colors used:
Background: #f5f5f5
Primary Color (blue): #6991AC
Accent Color (red): #d65c37
Font color (blue-grey): #677279
Secondary Color (light blue): #c3d7df
*/
* {
  box-sizing: border-box;
}

/* layout styling home */
body {
  background-color: #f5f5f5;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #677279;
}

/* header info */
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
  line-height: 1.0;
}

h3 {
  font-size: 1.55em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* header and nav */
header {
  background-color: #c3d7df;
  padding: .625em;
  border-bottom: 3px solid #677279;
  text-align: center;
  box-shadow: -3px 3px 10px 0px rgba(50, 50, 50, 0.61);
  position: fixed;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.logo {
  max-width: 100px;
}

/* main */
main {
  padding-top: 150px;
}

/* img */
img {
  width: 100%;
}

/* footer */
footer {
  text-align: center;
  color: #f5f5f5;
  display: inline-block;
  width: 100%;
  background-color: #6991AC;
}

ul.footer {
  list-style-type: none;
  padding: 0;
}

.footer li {
  display: inline-block;
}

/* links */
a {
  color: #6991AC;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  color: #677279;
}

a:hover,
a:focus {
  color: #677279;
  text-decoration: underline;
}

a:active {
  color: #d65c37;
}
footer a {
  color:#f5f5f5;
}
/* link button */
.button {
  display: inline-block;
  background-color: #d65c37;
  color: #f5f5f5 !important;
  /* needed to override the default link color */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px;
  bottom-radius: 3px;
  border-bottom: 2px solid #6991AC;
  transition: .2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #d65c37 opacity: .5;
  text-decoration: none;
}

.button-contact {
  background-color: transparent;
  padding: 10px 18px;
  color: #f5f5f5 !important;
  border: 2px solid #f5f5f5;
}

.button-contact:hover,
.button-contact:focus {
  background-color: #f5f5f5;
  opacity: 0.7;
  /* Reduces the opacity of the button to 70% */
  color: #f5f5f5 !important;
  text-decoration: none;
}

.button-contact:active {
  color: #f5f5f5;
  opacity: .5;
  text-decoration: none;
}
.footer-button {
  margin: 20px 0 25px 0;
}
/* layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  border-bottom: 1px solid #677279;
}

#hero {
  background-color: #6991AC;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  color: #f5f5f5
}
#hero p {
  text-align: center;
  color: #f5f5f5;
}
/* additional styling for about */
#about {
  padding: 20px 0 0 0;
}
#about h1 {
  text-align: center;
}
.picture {
  border-radius: 100%;
}
/* additional styling for project pages */
#project {
  padding: 20px 0 0 0;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding: 20px 0 0 0;
  }
  main {
    padding-top: 99px;
  }
  h3 {
  margin-top: 0;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
  width: 50%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
.col-lg-7 {
width: 60%;
}
.col-lg-5 {
width: 40%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
[class*="col-"] {
  float: left;
  padding: 0 10px 15px 10px;
}
